body {
    /* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Space Mono', monospace; */
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gammer img {
    width: 100%;
    /* object-fit: cover; */
    margin-right: 20px;
}

.logo {
    height: 41px;
    display: flex;
}

.gammer {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: start;
}

.nav-title {
    /* text-align: center; */
    /* font-family: Work Sans;*/
    font-size: 2.87rem;
    font-weight: 700;
}

.nav-title .color-G {
    color: #FF42A5;
}

.nav-content {
    width: 50%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container {
    display: flex;
    padding: 30px 30px 30px 20px;
    max-width: 1400px;
    margin: 0 auto;

}

.nav-content a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.12rem;
    font-weight: 500;
}


.follow-icon {
    border-radius: 8px;
    background: #0b02231a;
    padding: 17px;
}

.fa-youtube {
    color: #F61C0D;
    margin-left: 24px;
    /* margin-right: 16px; */
}


/* banner section started */

.banner {
    /* border: 2px solid red; */
    display: flex;
}

.banner-content {
    /* border: 3px solid green; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;

}

.banner-inner {
    /* border: 2px solid peru; */
    width: max-content;

}

.banner .img-container {
    width: 50%;
    /* border: 3px solid palegreen; */

}

.banner .img-container img {
    width: 70%;
    /* Set your desired width */

}

.banner-header {
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-goat {
    /* text-align: center; */
    font-size: 5.99rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.colour-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-sub-text {
    color: #534C64;
    /* text-align: center; */
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 17px;
}

.fa-solid {
    margin-right: 12px;
}

.fa-play {
    border: 2px solid black;
    padding: 5px 8px;
    border-radius: 50%;
}

.fa-download,
.fa-user-group {
    font-size: 1.7rem;
}


.btn-pink {
    /* display: inline-flex; */
    padding: 21px 40px;
    border: 0;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    /* margin-right: 24px; */
}

.btn-blue {
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 24px;

}

/* >>>>>>>>>>>>>>>>>>>>>>we are gamer section start */
.we-gamer-container {
    /* border: 5px solid rgb(238, 255, 0); */
    display: flex;
    min-height: 200px;
}

.we-gamer-container .img-container img {
    width: 90%;
    /* border: 2px solid aqua; */
}

.we-gamer-container .img-container {
    /* border: 4px solid #8758F1; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-gamer-container .we-gammer-conent-inner {
    /* border: 6px solid darkmagenta; */
    width: max-content;
    text-align: end;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
}

.we-gammer-conent {
    /* border: 5px solid #5cf74e; */
    width: 50%;
}

.gamer-title {
    font-size: 3rem;
    font-weight: 700;
    /* border: 2px solid #0B0223; */
}

.gamer-despt {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
    /* 166.667% */
}

we-gamer-container .btn-know {
    margin-right: 0px;
}

.gamer-finish-line {
    width: 520px;
}


.gamer-finish-line .top-line {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

.gamer-finish-line .last-line {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

/* >>>>>>>>>>>>>>>>>>>>>>Online start */
.online-title {
    margin-top: 80px;
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.online-game,
.play-instant,
.game-list-container {
    max-width: 1400px;
    margin: 0 auto;
}

.online-despt {
    text-align: center;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
    /* 166.667% */
}

.game-card-container .card img {
    width: 342px;
    height: 400px;
}

.game-despt {
    text-align: center;
    width: 342px;
    margin-top: 15px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;


}


.card .image-container .overlay-text>.fa-circle-play {
    color: white;
    font-size: 48px;
}

.pink-text-color {
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay-text {
    font-size: 1.25rem;
    font-weight: 600;
}

.game-card-container {
    display: flex;
}



.card {
    margin-right: 24px;
}

/* .game-card-container .card img:hover {
    border: 5px solid #FF42A5;
    transition: border 0.1s;
    border-radius: 24px;
    cursor: pointer;
} */

/* ..........................................Overlay text....................................... */
/* Style for the image container */
.image-container {
    position: relative;
    overflow: hidden;
    /* Hide overflowing content */
}



/* Style for the overlay */
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 97.8%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black overlay color with opacity */
    opacity: 0;
    border: 5px solid #FF42A5;
    /* Pink border when hovered */
    transition: border 0.1s;
    border-radius: 24px;
    cursor: pointer;

    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
    border-radius: 24px;
    /* Rounded corners for the overlay */
}

/* Style for the text that appears on hover */
.image-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

/* When you hover over the image container, make the overlay and text visible */
.image-container:hover::before,
.image-container:hover .overlay-text,
.game-card-container .card #cover-img:hover {
    opacity: 1;

}



.play-instant {
    display: flex;
    margin-top: 120px;
}

.instant-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    width: 426px;
    margin-bottom: 24px;
    /* 125% */
}

.text-purple {
    background: linear-gradient(180deg, #ca4fcc 0%, #b851d6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #F948B2, #8758F1; */
}

.instat-img-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.instat-img-container .big-img {
    width: 70%;
    /* border: 2px solid seagreen; */
}

.instat-img-container .small-img img {
    width: 100%;
    /* border: 2px solid seagreen; */
    /* width: max-content; */
}

.instant-content {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.instant-despt {
    color: #534C64;
    width: 483px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.inner-content {
    width: max-content;

}

.big-img {
    /* width: 90%; */
}

.small-img {
    /* width: 20%; */
    position: absolute;
    left: 72%;
    top: 60%;
}

.not-mendatory {
    margin-top: 180px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    min-height: 200px;

}

.trasparent-img {
    display: flex;
    /* align-items: end; */
    justify-content: end;
}

.game-list-container {
    /*  border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.single-game {
    display: flex;
    align-items: center;
    /* gap: 0px; */
}

.single-game {
    text-align: center;
    /* Center-align the content within each item */
}

/* Select the last row of items */
.single-game:nth-child(n+6) {
    /* grid-column: span 5; Make each item in the last row span all 5 columns */
    justify-content: end;
    margin-top: 20px;
}


.single-game h5 {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}


.single-game:hover {

    border: 5px solid #F948B2;
    border-radius: 30px;
    cursor: pointer;
    /* width: max-content; */
}

footer {
    background: #0B0223;

}
 
.hide {
    display: none;
}

footer {
    /* height: 336px; */
    /* border: 3px solid red; */
    padding: 100px 0;
    margin-top: 100px;
}

footer .white-color {
    color: white;
}

footer .x {
    /* text-align: center; */
    font-size: 2.81rem;
    font-weight: 700;
}

.our-servies a {
    text-decoration: none;
    margin-right: 60px;
    color: #FFF;
    /* text-align: center; */
    font-size: 1.125rem;
    font-weight: 600;
}

.our-servies{
    margin-top: 70px;    
}

.social-media-container{
    margin-top: 66px;
}

.terms-condition{
    margin-top: 70px;
    margin-bottom:28px;
}

.social-media{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-right: 40px;
    /* border: 2px solid white; */
}

.fa-brands{
    
    color: white;
}

.fa-youtube{
    width: 57.13px;
   
}

.our-servies .extra{
    margin-right: 0;
}

.terms-condition a{
    color: #ffffff99;
    font-size: 1rem;
    font-weight: 500;
}

.copyright{
    color: #ffffff99;
    color: #55f50b99;
    font-size: 1rem;
    font-weight: 500;
}

.footer-container{
    /* border: 2px solid yellow; */
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
